# 1. Python Environment & Dependency Packages
venv/
ENV/
env/
.venv/
pyvenv.cfg
uploads/

# 2. Python Compile Caches
**/__pycache__/
*.pyc
*.pyo
*.pyd

# 3. Django Specific
db.sqlite3
db.sqlite3-journal
db.sqlite3-shm
db.sqlite3-wal
*.log
local_settings.py

# 4. OS Files
.DS_Store
Thumbs.db

# 5. IDEs and Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
